.aside {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #22223B;

    padding: 2.4rem 2rem;



}

.aside nav {
    max-width: 1300px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0rem 2rem;
}

.aside nav a {
    font-size: 2rem;
    
    transition: .5s;

    color: #FFF;
    
}

.aside nav a:hover {
    color: #AAA;
}

.aside nav span {
    font-weight: 900;
}

.aside nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.2rem;
}

.aside nav ul li a {
    font-size: 1.8rem;
    font-weight: 600;
}


.aside nav ul li button {
    font-size: 1.8rem;

    cursor: pointer;

    background: transparent;
    font-weight: 600;
    color: #FFF;
    border: none;

    transition: .4s;
}

.aside nav ul li button:hover {
    color: crimson;
    border: none;
}

.menu__mobile {
    display: none;
}

@keyframes go-back {
    0% {
        transform: translateY(-2rem);
        height: 2%;
    }

    50% {
        transform: translateY(-1.5rem);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 550px) {
    .menu__mobile {
        display: flex;
    }

    .isMobile ul {
        width: 100%;
        height: 10rem;
        position: absolute;
        top: 9.2rem;
        left: 0;
        background: #01011a;


        transition: .1s;
        animation: go-back 2s;
    }

    .closed li a {
        display: none;
    }
}